body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #eee3de 0%, #ace0f9 100%);

h1 {
  color: #2c2d2e;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
   text-decoration: none;
  margin: 0;
  padding: 0;
  color: rgb(56, 53, 53);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li ::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 15px solid #5577a5;
  border-radius: 10px;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #36454f;
}

.forecast-day {
  font-size: 16px;
  color: #36454f;
}

.forecast-temperature {
  font-size: 13px;
}
.forecast-temperature-min {
  opacity: 0.5;
}

  a .celsius-link {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

a .fahrenheit-link {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
